body{
    background-color: rgb(31, 31, 32);
}


.info-portion{
padding: 10%;
}
/* 
.resume{
    width: 100%;
    display: flex;
}
.res-img{
    height: 300px;
    width: 30%; 
    background-color: rgb(38, 41, 41);
}
.res-img img{
    height: 200% ;
    width: 100%;
}
.res-data{
    width: 70%; 
    background-color: rgb(178, 192, 192);
} */
h1,h3{
    color:white
    ;
}
p{
    color: gray;
}