body{
    background-color: gray;
}

.resume{
    width: 100%;
    display: flex;
}
.res-img{
    height: 300px;
    width: 30%; 
    background-color: rgb(38, 41, 41);
}
.res-img img{
    height: 100% ;
    width: 100%;
}
.res-data{
    width: 70%; 
    background-color: rgb(11, 12, 12);
}
